n8n-workflows/workflows/0SVCkZg03r6RR4qW.json
{
  "createdAt": "2025-10-20T23:00:00.545Z",
  "updatedAt": "2025-10-20T23:00:00.545Z",
  "id": "0SVCkZg03r6RR4qW",
  "name": "GangRun - Review Collection",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 14 * * *" }] }
      },
      "name": "Daily at 2 PM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "id": "a4a00493-a544-4382-ab6c-450a1a23fe55"
    },
    {
      "parameters": {
        "url": "https://gangrunprinting.com/api/orders/delivered",
        "sendQuery": true,
        "queryParameters": { "parameters": [{ "name": "daysAgo", "value": "3" }] },
        "options": {}
      },
      "name": "Fetch Delivered Orders (3 days ago)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300],
      "id": "54df6e69-5aaa-43e0-9af9-67e375788a32"
    },
    {
      "parameters": { "batchSize": 1, "options": {} },
      "name": "Split Into Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [690, 300],
      "id": "30d031c5-1dfd-42d4-8a9b-2cbf8d663549"
    },
    {
      "parameters": {
        "url": "https://gangrunprinting.com/api/marketing/emails/render",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "template", "value": "review_request" },
            {
              "name": "to",
              "value": "={{ $node['Fetch Delivered Orders (3 days ago)'].json.orders[$node['Split Into Batches'].json.index].userEmail }}"
            },
            { "name": "subject", "value": "How Did We Do? Leave a Review ⭐" },
            {
              "name": "data",
              "value": "={{ JSON.stringify({\n  customerName: $node['Fetch Delivered Orders (3 days ago)'].json.orders[$node['Split Into Batches'].json.index].userName,\n  orderNumber: $node['Fetch Delivered Orders (3 days ago)'].json.orders[$node['Split Into Batches'].json.index].orderNumber,\n  orderDate: $node['Fetch Delivered Orders (3 days ago)'].json.orders[$node['Split Into Batches'].json.index].createdAt,\n  reviewUrl: 'https://gangrunprinting.com/reviews/new?order=' + $node['Fetch Delivered Orders (3 days ago)'].json.orders[$node['Split Into Batches'].json.index].id\n}) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Send Review Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [910, 300],
      "id": "1cdf55bc-f8b2-45eb-9a91-0545f2b046af"
    }
  ],
  "connections": {
    "Daily at 2 PM": {
      "main": [[{ "node": "Fetch Delivered Orders (3 days ago)", "type": "main", "index": 0 }]]
    },
    "Fetch Delivered Orders (3 days ago)": {
      "main": [[{ "node": "Split Into Batches", "type": "main", "index": 0 }]]
    },
    "Split Into Batches": {
      "main": [[{ "node": "Send Review Request", "type": "main", "index": 0 }]]
    },
    "Send Review Request": {
      "main": [[{ "node": "Split Into Batches", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "timezone": "America/Chicago" },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": null,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-10-20T23:00:00.546Z",
      "updatedAt": "2025-10-20T23:00:00.546Z",
      "role": "workflow:owner",
      "workflowId": "0SVCkZg03r6RR4qW",
      "projectId": "tFB2q6JWkfPj6FdL",
      "project": {
        "createdAt": "2025-09-11T20:13:27.250Z",
        "updatedAt": "2025-09-11T20:14:08.507Z",
        "id": "tFB2q6JWkfPj6FdL",
        "name": "Ira Watkins <iradwatkins@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}
