n8n-workflows/workflows/6i2QbrDx9n4G37GT.json
{
  "createdAt": "2025-10-20T22:44:36.151Z",
  "updatedAt": "2025-10-20T22:47:04.000Z",
  "id": "6i2QbrDx9n4G37GT",
  "name": "GangRun - Abandoned Cart (24hr)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 * * * *" }] }
      },
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "id": "202a2cef-2dd0-4d71-9e9d-6cecd1dd68fe"
    },
    {
      "parameters": {
        "url": "https://gangrunprinting.com/api/marketing/carts/abandoned",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "minHours", "value": "24" },
            { "name": "maxHours", "value": "25" }
          ]
        },
        "options": {}
      },
      "name": "Fetch 24hr Abandoned Carts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300],
      "id": "6261463b-2242-424c-b23e-fd978cff82d7"
    },
    {
      "parameters": { "batchSize": 1, "options": {} },
      "name": "Split Into Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [690, 300],
      "id": "03df6424-ffba-4055-805b-1acb05231cc6"
    },
    {
      "parameters": {
        "url": "https://gangrunprinting.com/api/marketing/coupons/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "type", "value": "PERCENTAGE" },
            { "name": "value", "value": "10" },
            { "name": "userId", "value": "={{ $json.userId }}" },
            { "name": "campaign", "value": "abandoned_cart" },
            { "name": "expiresInDays", "value": "7" }
          ]
        },
        "options": {}
      },
      "name": "Generate 10% Coupon",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [910, 300],
      "id": "29cc6f69-f62f-4165-971e-404b2f999762"
    },
    {
      "parameters": {
        "url": "https://gangrunprinting.com/api/marketing/emails/render",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "template", "value": "abandoned_cart" },
            {
              "name": "to",
              "value": "={{ $node['Fetch 24hr Abandoned Carts'].json.carts[$node['Split Into Batches'].json.index].email }}"
            },
            { "name": "subject", "value": "Still Thinking It Over? Here's 10% OFF! 💭" },
            {
              "name": "data",
              "value": "={{ JSON.stringify({\n  customerName: $node['Fetch 24hr Abandoned Carts'].json.carts[$node['Split Into Batches'].json.index].User?.name || 'Valued Customer',\n  items: $node['Fetch 24hr Abandoned Carts'].json.carts[$node['Split Into Batches'].json.index].items,\n  subtotal: $node['Fetch 24hr Abandoned Carts'].json.carts[$node['Split Into Batches'].json.index].subtotal,\n  total: $node['Fetch 24hr Abandoned Carts'].json.carts[$node['Split Into Batches'].json.index].total,\n  cartUrl: 'https://gangrunprinting.com/checkout?session=' + $node['Fetch 24hr Abandoned Carts'].json.carts[$node['Split Into Batches'].json.index].sessionId,\n  couponCode: $node['Generate 10% Coupon'].json.coupon.code,\n  couponValue: 10,\n  hoursSinceAbandonment: 24\n}) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1130, 300],
      "id": "7d9e2db7-11c2-4e41-b10e-d23d384410a7"
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [[{ "node": "Fetch 24hr Abandoned Carts", "type": "main", "index": 0 }]]
    },
    "Fetch 24hr Abandoned Carts": {
      "main": [[{ "node": "Split Into Batches", "type": "main", "index": 0 }]]
    },
    "Split Into Batches": {
      "main": [[{ "node": "Generate 10% Coupon", "type": "main", "index": 0 }]]
    },
    "Generate 10% Coupon": { "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]] },
    "Send Email": { "main": [[{ "node": "Split Into Batches", "type": "main", "index": 0 }]] }
  },
  "settings": { "timezone": "America/Chicago" },
  "staticData": { "node:Every Hour": { "recurrenceRules": [] } },
  "meta": null,
  "pinData": null,
  "versionId": null,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-10-20T22:44:36.152Z",
      "updatedAt": "2025-10-20T22:44:36.152Z",
      "role": "workflow:owner",
      "workflowId": "6i2QbrDx9n4G37GT",
      "projectId": "tFB2q6JWkfPj6FdL",
      "project": {
        "createdAt": "2025-09-11T20:13:27.250Z",
        "updatedAt": "2025-09-11T20:14:08.507Z",
        "id": "tFB2q6JWkfPj6FdL",
        "name": "Ira Watkins <iradwatkins@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}
