n8n-workflows/workflows/AIDT8GwdBAGd19Ts.json
{
  "createdAt": "2025-10-20T22:44:36.159Z",
  "updatedAt": "2025-10-20T22:47:07.000Z",
  "id": "AIDT8GwdBAGd19Ts",
  "name": "GangRun - Order Anniversaries",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 * * *" }] }
      },
      "name": "Daily at 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "id": "dae8b681-6594-4a91-bff5-2371da6eb7c4"
    },
    {
      "parameters": {
        "url": "https://gangrunprinting.com/api/marketing/customers/anniversaries",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "type", "value": "any_purchase" },
            { "name": "daysAgo", "value": "365" }
          ]
        },
        "options": {}
      },
      "name": "Fetch Anniversaries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300],
      "id": "2d975ea6-efe8-474a-9c88-3b36a85cdfe2"
    },
    {
      "parameters": { "batchSize": 1, "options": {} },
      "name": "Split Into Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [690, 300],
      "id": "742a7e09-5a80-427a-97d3-e19bfb83084e"
    },
    {
      "parameters": {
        "url": "https://gangrunprinting.com/api/marketing/emails/render",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "template", "value": "anniversary" },
            {
              "name": "to",
              "value": "={{ $node['Fetch Anniversaries'].json.customers[$node['Split Into Batches'].json.index].userEmail }}"
            },
            {
              "name": "subject",
              "value": "🎉 Happy {{ $node['Fetch Anniversaries'].json.customers[$node['Split Into Batches'].json.index].yearsAgo }}-Year Anniversary!"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({\n  customerName: $node['Fetch Anniversaries'].json.customers[$node['Split Into Batches'].json.index].userName,\n  orderDate: $node['Fetch Anniversaries'].json.customers[$node['Split Into Batches'].json.index].orderDate,\n  orderNumber: $node['Fetch Anniversaries'].json.customers[$node['Split Into Batches'].json.index].orderNumber,\n  yearsAgo: $node['Fetch Anniversaries'].json.customers[$node['Split Into Batches'].json.index].yearsAgo\n}) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Send Anniversary Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [910, 300],
      "id": "7bc46801-326f-4751-9aa7-dde0b4124984"
    }
  ],
  "connections": {
    "Daily at 9 AM": { "main": [[{ "node": "Fetch Anniversaries", "type": "main", "index": 0 }]] },
    "Fetch Anniversaries": {
      "main": [[{ "node": "Split Into Batches", "type": "main", "index": 0 }]]
    },
    "Split Into Batches": {
      "main": [[{ "node": "Send Anniversary Email", "type": "main", "index": 0 }]]
    },
    "Send Anniversary Email": {
      "main": [[{ "node": "Split Into Batches", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "timezone": "America/Chicago" },
  "staticData": { "node:Daily at 9 AM": { "recurrenceRules": [] } },
  "meta": null,
  "pinData": null,
  "versionId": null,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-10-20T22:44:36.161Z",
      "updatedAt": "2025-10-20T22:44:36.161Z",
      "role": "workflow:owner",
      "workflowId": "AIDT8GwdBAGd19Ts",
      "projectId": "tFB2q6JWkfPj6FdL",
      "project": {
        "createdAt": "2025-09-11T20:13:27.250Z",
        "updatedAt": "2025-09-11T20:14:08.507Z",
        "id": "tFB2q6JWkfPj6FdL",
        "name": "Ira Watkins <iradwatkins@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}
