n8n-workflows/workflows/AL8RNNst0LyZPgVH.json
{
  "createdAt": "2025-10-20T22:44:36.156Z",
  "updatedAt": "2025-10-20T22:47:06.000Z",
  "id": "AL8RNNst0LyZPgVH",
  "name": "GangRun - Customer Win-back",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 10 * * *" }] }
      },
      "name": "Daily at 10 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "id": "4512ca58-8477-4eb1-84fa-f99c69031211"
    },
    {
      "parameters": {
        "url": "https://gangrunprinting.com/api/marketing/customers/inactive",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "minDays", "value": "60" },
            { "name": "maxDays", "value": "90" }
          ]
        },
        "options": {}
      },
      "name": "Fetch Inactive Customers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300],
      "id": "8260647c-48d0-4424-961f-1c2c4687aab2"
    },
    {
      "parameters": { "batchSize": 1, "options": {} },
      "name": "Split Into Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [690, 300],
      "id": "51d0b71d-060a-4c60-a421-5434d446e9c4"
    },
    {
      "parameters": {
        "url": "https://gangrunprinting.com/api/marketing/coupons/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "type", "value": "PERCENTAGE" },
            { "name": "value", "value": "20" },
            { "name": "userId", "value": "={{ $json.userId }}" },
            { "name": "campaign", "value": "winback" },
            { "name": "expiresInDays", "value": "7" }
          ]
        },
        "options": {}
      },
      "name": "Generate 20% Coupon",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [910, 300],
      "id": "9a456e3f-9aec-4d63-b24d-ece084e337d2"
    },
    {
      "parameters": {
        "url": "https://gangrunprinting.com/api/marketing/emails/render",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "template", "value": "winback" },
            {
              "name": "to",
              "value": "={{ $node['Fetch Inactive Customers'].json.customers[$node['Split Into Batches'].json.index].userEmail }}"
            },
            { "name": "subject", "value": "We Miss You! Come Back for 20% OFF 💙" },
            {
              "name": "data",
              "value": "={{ JSON.stringify({\n  customerName: $node['Fetch Inactive Customers'].json.customers[$node['Split Into Batches'].json.index].userName,\n  lastOrderDate: $node['Fetch Inactive Customers'].json.customers[$node['Split Into Batches'].json.index].lastOrderDate,\n  lastOrderNumber: $node['Fetch Inactive Customers'].json.customers[$node['Split Into Batches'].json.index].lastOrderNumber,\n  daysSinceLastOrder: $node['Fetch Inactive Customers'].json.customers[$node['Split Into Batches'].json.index].daysSinceLastOrder,\n  couponCode: $node['Generate 20% Coupon'].json.coupon.code,\n  couponValue: 20\n}) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Send Winback Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1130, 300],
      "id": "2f6257b1-7b97-41f4-b73d-aba96092ed40"
    }
  ],
  "connections": {
    "Daily at 10 AM": {
      "main": [[{ "node": "Fetch Inactive Customers", "type": "main", "index": 0 }]]
    },
    "Fetch Inactive Customers": {
      "main": [[{ "node": "Split Into Batches", "type": "main", "index": 0 }]]
    },
    "Split Into Batches": {
      "main": [[{ "node": "Generate 20% Coupon", "type": "main", "index": 0 }]]
    },
    "Generate 20% Coupon": {
      "main": [[{ "node": "Send Winback Email", "type": "main", "index": 0 }]]
    },
    "Send Winback Email": {
      "main": [[{ "node": "Split Into Batches", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "timezone": "America/Chicago" },
  "staticData": { "node:Daily at 10 AM": { "recurrenceRules": [] } },
  "meta": null,
  "pinData": null,
  "versionId": null,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-10-20T22:44:36.158Z",
      "updatedAt": "2025-10-20T22:44:36.158Z",
      "role": "workflow:owner",
      "workflowId": "AL8RNNst0LyZPgVH",
      "projectId": "tFB2q6JWkfPj6FdL",
      "project": {
        "createdAt": "2025-09-11T20:13:27.250Z",
        "updatedAt": "2025-09-11T20:14:08.507Z",
        "id": "tFB2q6JWkfPj6FdL",
        "name": "Ira Watkins <iradwatkins@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}
