n8n-workflows/workflows/APjLUAwjaY7aN1F6.json
{"createdAt":"2025-10-20T23:00:00.540Z","updatedAt":"2025-10-20T23:00:00.540Z","id":"APjLUAwjaY7aN1F6","name":"GangRun - Customer Win-back","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 10 * * *"}]}},"name":"Daily at 10 AM","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[250,300],"id":"0a4634a5-899a-4d75-a00f-588500220b8e"},{"parameters":{"url":"https://gangrunprinting.com/api/marketing/customers/inactive","sendQuery":true,"queryParameters":{"parameters":[{"name":"minDays","value":"60"},{"name":"maxDays","value":"90"}]},"options":{}},"name":"Fetch Inactive Customers","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[470,300],"id":"218e48c4-7381-481f-a83d-8a5b2922ae88"},{"parameters":{"batchSize":1,"options":{}},"name":"Split Into Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[690,300],"id":"2f164f3a-b4c0-4c38-a8e2-f709935d7b43"},{"parameters":{"url":"https://gangrunprinting.com/api/marketing/coupons/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"type","value":"PERCENTAGE"},{"name":"value","value":"20"},{"name":"userId","value":"={{ $json.userId }}"},{"name":"campaign","value":"winback"},{"name":"expiresInDays","value":"7"}]},"options":{}},"name":"Generate 20% Coupon","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[910,300],"id":"4d73ad1a-0c3a-4bc1-8501-a0cd3b20c68e"},{"parameters":{"url":"https://gangrunprinting.com/api/marketing/emails/render","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"template","value":"winback"},{"name":"to","value":"={{ $node['Fetch Inactive Customers'].json.customers[$node['Split Into Batches'].json.index].userEmail }}"},{"name":"subject","value":"We Miss You! Come Back for 20% OFF 💙"},{"name":"data","value":"={{ JSON.stringify({\n  customerName: $node['Fetch Inactive Customers'].json.customers[$node['Split Into Batches'].json.index].userName,\n  lastOrderDate: $node['Fetch Inactive Customers'].json.customers[$node['Split Into Batches'].json.index].lastOrderDate,\n  lastOrderNumber: $node['Fetch Inactive Customers'].json.customers[$node['Split Into Batches'].json.index].lastOrderNumber,\n  daysSinceLastOrder: $node['Fetch Inactive Customers'].json.customers[$node['Split Into Batches'].json.index].daysSinceLastOrder,\n  couponCode: $node['Generate 20% Coupon'].json.coupon.code,\n  couponValue: 20\n}) }}"}]},"options":{}},"name":"Send Winback Email","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1130,300],"id":"f6560be7-4b97-4944-b720-e9f71bd517c5"}],"connections":{"Daily at 10 AM":{"main":[[{"node":"Fetch Inactive Customers","type":"main","index":0}]]},"Fetch Inactive Customers":{"main":[[{"node":"Split Into Batches","type":"main","index":0}]]},"Split Into Batches":{"main":[[{"node":"Generate 20% Coupon","type":"main","index":0}]]},"Generate 20% Coupon":{"main":[[{"node":"Send Winback Email","type":"main","index":0}]]},"Send Winback Email":{"main":[[{"node":"Split Into Batches","type":"main","index":0}]]}},"settings":{"timezone":"America/Chicago"},"staticData":null,"meta":null,"pinData":null,"versionId":null,"triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-10-20T23:00:00.541Z","updatedAt":"2025-10-20T23:00:00.541Z","role":"workflow:owner","workflowId":"APjLUAwjaY7aN1F6","projectId":"tFB2q6JWkfPj6FdL","project":{"createdAt":"2025-09-11T20:13:27.250Z","updatedAt":"2025-09-11T20:14:08.507Z","id":"tFB2q6JWkfPj6FdL","name":"Ira Watkins <iradwatkins@gmail.com>","type":"personal","icon":null,"description":null}}]}