n8n-workflows/workflows/gangrun-order-notifications.json
{"createdAt":"2025-10-20T13:54:03.459Z","updatedAt":"2025-10-20T14:19:10.000Z","id":"gangrun-order-notifications","name":"GangRun Printing - Order Notifications","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"gangrun-order-created","responseMode":"lastNode","options":{}},"id":"webhook-order-created","name":"Webhook: New Order","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"webhookId":"gangrun-order-created"},{"parameters":{"functionCode":"// Extract order data from webhook payload\nconst orderData = $json;\n\n// Format the notification message\nconst customerName = orderData.customerName || 'Customer';\nconst orderNumber = orderData.orderNumber;\nconst orderTotal = orderData.orderTotal.toFixed(2);\nconst shippingMethod = orderData.shippingMethod || 'Not specified';\nconst itemCount = orderData.items.length;\n\n// Create detailed items list\nconst itemsList = orderData.items.map(item => \n  `• ${item.productName} (Qty: ${item.quantity}) - $${item.price.toFixed(2)}`\n).join('\\n');\n\n// Format the message\nconst message = `🎉 NEW ORDER RECEIVED!\n\n📦 Order: ${orderNumber}\n👤 Customer: ${customerName}\n📧 Email: ${orderData.customerEmail}\n💰 Total: $${orderTotal}\n🚚 Shipping: ${shippingMethod}\n📊 Status: ${orderData.status}\n\n📋 ITEMS (${itemCount}):\n${itemsList}\n\n⏰ Placed: ${new Date(orderData.createdAt).toLocaleString('en-US', { \n  timeZone: 'America/Chicago',\n  dateStyle: 'short',\n  timeStyle: 'short'\n})}`;\n\nreturn {\n  json: {\n    message,\n    orderNumber,\n    customerName,\n    customerEmail: orderData.customerEmail,\n    orderTotal,\n    shippingMethod,\n    items: orderData.items,\n    createdAt: orderData.createdAt\n  }\n};"},"id":"format-notification","name":"Format Notification","type":"n8n-nodes-base.function","typeVersion":1,"position":[470,300]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage","jsonParameters":true,"options":{},"bodyParametersJson":"={\n  \"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\",\n  \"text\": \"{{ $json.message }}\",\n  \"parse_mode\": \"HTML\"\n}"},"id":"send-telegram","name":"Send Telegram Notification","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[690,200],"credentials":{},"notes":"Optional: Configure Telegram bot token and chat ID in environment variables"},{"parameters":{"method":"POST","url":"https://hooks.slack.com/services/YOUR_SLACK_WEBHOOK_URL","jsonParameters":true,"options":{},"bodyParametersJson":"={\n  \"text\": \"{{ $json.message }}\",\n  \"username\": \"GangRun Order Bot\",\n  \"icon_emoji\": \":package:\"\n}"},"id":"send-slack","name":"Send Slack Notification","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[690,400],"notes":"Optional: Replace with your Slack webhook URL"},{"parameters":{"method":"POST","url":"https://discord.com/api/webhooks/YOUR_DISCORD_WEBHOOK_URL","jsonParameters":true,"options":{},"bodyParametersJson":"={\n  \"content\": \"{{ $json.message }}\",\n  \"username\": \"GangRun Order Bot\",\n  \"avatar_url\": \"https://gangrunprinting.com/logo.png\"\n}"},"id":"send-discord","name":"Send Discord Notification","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[690,600],"notes":"Optional: Replace with your Discord webhook URL"},{"parameters":{"fromEmail":"notifications@gangrunprinting.com","toEmail":"iradwatkins@gmail.com","subject":"=🎉 New Order: {{ $json.orderNumber }}","emailFormat":"text","text":"={{ $json.message }}","options":{}},"id":"send-email","name":"Send Email Notification","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[690,800],"credentials":{"smtp":{"id":"1","name":"SMTP account"}},"notes":"Configure SMTP credentials in n8n settings"},{"parameters":{"method":"POST","url":"={{ $json.webhookUrl }}","jsonParameters":true,"options":{},"bodyParametersJson":"={\n  \"orderNumber\": \"{{ $json.orderNumber }}\",\n  \"customerName\": \"{{ $json.customerName }}\",\n  \"orderTotal\": {{ $json.orderTotal }},\n  \"shippingMethod\": \"{{ $json.shippingMethod }}\",\n  \"items\": {{ JSON.stringify($json.items) }}\n}"},"id":"custom-webhook","name":"Trigger Custom Webhook","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[690,1000],"notes":"Optional: Send to your custom webhook endpoint"}],"connections":{"Webhook: New Order":{"main":[[{"node":"Format Notification","type":"main","index":0}]]},"Format Notification":{"main":[[{"node":"Send Telegram Notification","type":"main","index":0},{"node":"Send Slack Notification","type":"main","index":0},{"node":"Send Discord Notification","type":"main","index":0},{"node":"Send Email Notification","type":"main","index":0},{"node":"Trigger Custom Webhook","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"instanceId":"gangrunprinting"},"pinData":null,"versionId":"1","triggerCount":1,"tags":[{"createdAt":"2025-10-20T13:54:03.467Z","updatedAt":"2025-10-20T13:54:03.467Z","id":"1","name":"gangrunprinting"},{"createdAt":"2025-10-20T13:54:03.469Z","updatedAt":"2025-10-20T13:54:03.469Z","id":"2","name":"orders"},{"createdAt":"2025-10-20T13:54:03.470Z","updatedAt":"2025-10-20T13:54:03.470Z","id":"3","name":"notifications"}],"shared":[{"createdAt":"2025-10-20T13:54:03.462Z","updatedAt":"2025-10-20T13:54:03.462Z","role":"workflow:owner","workflowId":"gangrun-order-notifications","projectId":"tFB2q6JWkfPj6FdL","project":{"createdAt":"2025-09-11T20:13:27.250Z","updatedAt":"2025-09-11T20:14:08.507Z","id":"tFB2q6JWkfPj6FdL","name":"Ira Watkins <iradwatkins@gmail.com>","type":"personal","icon":null,"description":null}}]}