n8n-workflows/workflows/HHf4MAeOPLgJ7vWA.json
{"createdAt":"2025-10-20T13:42:16.737Z","updatedAt":"2025-10-20T22:48:51.000Z","id":"HHf4MAeOPLgJ7vWA","name":"Website Downtime Alerts","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/5 * * * *"}]}},"name":"Every 5 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[256,304],"id":"schedule-5min"},{"parameters":{"command":"/usr/local/bin/vps-health-check.sh"},"name":"Check Websites","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[480,304],"id":"check-websites"},{"parameters":{"jsCode":"const data = JSON.parse($input.first().json.stdout);\nconst downSites = [];\nconst criticalIssues = [];\n\n// Check for down websites\nfor (const site of data.websites) {\n  if (site.status === 'down') {\n    downSites.push(site);\n  }\n}\n\n// Check disk space\nif (data.system.disk_percent > 85) {\n  criticalIssues.push(`⚠️ Disk space critical: ${data.system.disk_percent}%`);\n}\n\n// Check memory\nif (data.system.mem_percent > 90) {\n  criticalIssues.push(`⚠️ Memory usage high: ${data.system.mem_percent}%`);\n}\n\n// Check unhealthy containers\nif (data.containers.unhealthy > 0) {\n  criticalIssues.push(`⚠️ ${data.containers.unhealthy} unhealthy containers`);\n}\n\n// Check SSL expiry\nfor (const ssl of data.ssl) {\n  if (ssl.days_left < 14) {\n    criticalIssues.push(`🔒 SSL expiring soon: ${ssl.domain} (${ssl.days_left} days)`);\n  }\n}\n\nreturn [{\n  json: {\n    downSites: downSites,\n    criticalIssues: criticalIssues,\n    hasIssues: downSites.length > 0 || criticalIssues.length > 0,\n    timestamp: data.timestamp,\n    chat_id: '7241850736'\n  }\n}];"},"name":"Detect Issues","type":"n8n-nodes-base.code","typeVersion":2,"position":[704,304],"id":"detect-issues"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.hasIssues }}","value2":true}]},"options":{}},"name":"Has Issues?","type":"n8n-nodes-base.if","typeVersion":2,"position":[912,304],"id":"has-issues"},{"parameters":{"jsCode":"const downSites = $input.first().json.downSites;\nconst criticalIssues = $input.first().json.criticalIssues;\nconst timestamp = new Date($input.first().json.timestamp);\n\nlet message = `🚨 *VPS ALERT - ${timestamp.toLocaleString()}*\\n\\n`;\n\nif (downSites.length > 0) {\n  message += `*❌ WEBSITES DOWN (${downSites.length})*\\n`;\n  for (const site of downSites) {\n    message += `• ${site.name}: HTTP ${site.code}\\n`;\n    message += `  URL: ${site.url}\\n`;\n  }\n  message += `\\n`;\n}\n\nif (criticalIssues.length > 0) {\n  message += `*⚠️ CRITICAL ISSUES*\\n`;\n  for (const issue of criticalIssues) {\n    message += `${issue}\\n`;\n  }\n  message += `\\n`;\n}\n\nmessage += `🔧 Check n8n.agistaffers.com for details`;\n\nreturn [{\n  json: {\n    message: message,\n    chat_id: $input.first().json.chat_id,\n    parse_mode: 'Markdown'\n  }\n}];"},"name":"Format Alert","type":"n8n-nodes-base.code","typeVersion":2,"position":[1136,208],"id":"format-alert"},{"parameters":{"chatId":"@Iraqae_bot","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1360,208],"id":"719f28f5-0652-42a5-ad53-c922ec5d6b6c","name":"Send a text message","webhookId":"dad8f5c6-958c-4562-b6c6-44bcd8571541","credentials":{"telegramApi":{"id":"IWN9JuIRwWAcDBg4","name":"Barney Telegram account"}}}],"connections":{"Every 5 Minutes":{"main":[[{"node":"Check Websites","type":"main","index":0}]]},"Check Websites":{"main":[[{"node":"Detect Issues","type":"main","index":0}]]},"Detect Issues":{"main":[[{"node":"Has Issues?","type":"main","index":0}]]},"Has Issues?":{"main":[[{"node":"Format Alert","type":"main","index":0}]]},"Format Alert":{"main":[[{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Every 5 Minutes":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"69df92e6-e808-4c44-91cf-d2399e6529a7","triggerCount":1,"tags":[{"createdAt":"2025-10-20T13:54:03.470Z","updatedAt":"2025-10-20T13:54:03.470Z","id":"3","name":"notifications"},{"createdAt":"2025-10-20T14:15:02.436Z","updatedAt":"2025-10-20T14:15:02.436Z","id":"JPDCh26rC5nY2j0J","name":"Server"}],"shared":[{"createdAt":"2025-10-20T13:42:16.740Z","updatedAt":"2025-10-20T13:42:16.740Z","role":"workflow:owner","workflowId":"HHf4MAeOPLgJ7vWA","projectId":"tFB2q6JWkfPj6FdL","project":{"createdAt":"2025-09-11T20:13:27.250Z","updatedAt":"2025-09-11T20:14:08.507Z","id":"tFB2q6JWkfPj6FdL","name":"Ira Watkins <iradwatkins@gmail.com>","type":"personal","icon":null,"description":null}}]}