n8n-workflows/workflows/Ol5KypbWIdPYibha.json
{"createdAt":"2025-10-20T23:00:00.522Z","updatedAt":"2025-10-20T23:00:00.522Z","id":"Ol5KypbWIdPYibha","name":"GangRun - Abandoned Cart (3hr)","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 * * * *"}]}},"name":"Every Hour","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[250,300],"id":"7423f61a-f737-4412-8ad9-d4f9217507b3"},{"parameters":{"url":"https://gangrunprinting.com/api/marketing/carts/abandoned","sendQuery":true,"queryParameters":{"parameters":[{"name":"minHours","value":"3"},{"name":"maxHours","value":"4"}]},"options":{}},"name":"Fetch 3hr Abandoned Carts","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[470,300],"id":"9d25aed4-b82c-4817-8d35-2a285c522fad"},{"parameters":{"batchSize":1,"options":{}},"name":"Split Into Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[690,300],"id":"6ec97c04-3bac-4461-9ecd-9f4a6dc7daab"},{"parameters":{"url":"https://gangrunprinting.com/api/marketing/coupons/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"type","value":"PERCENTAGE"},{"name":"value","value":"10"},{"name":"userId","value":"={{ $json.userId }}"},{"name":"campaign","value":"abandoned_cart"},{"name":"expiresInDays","value":"7"}]},"options":{}},"name":"Generate 10% Coupon","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[910,300],"id":"72554a2a-8828-40f7-8bbd-b6149e4a0e87"},{"parameters":{"url":"https://gangrunprinting.com/api/marketing/emails/render","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"template","value":"abandoned_cart"},{"name":"to","value":"={{ $node['Fetch 3hr Abandoned Carts'].json.carts[$node['Split Into Batches'].json.index].email }}"},{"name":"subject","value":"Your Cart is Waiting! Save 10% Now 🛒"},{"name":"data","value":"={{ JSON.stringify({\n  customerName: $node['Fetch 3hr Abandoned Carts'].json.carts[$node['Split Into Batches'].json.index].User?.name || 'Valued Customer',\n  items: $node['Fetch 3hr Abandoned Carts'].json.carts[$node['Split Into Batches'].json.index].items,\n  subtotal: $node['Fetch 3hr Abandoned Carts'].json.carts[$node['Split Into Batches'].json.index].subtotal,\n  total: $node['Fetch 3hr Abandoned Carts'].json.carts[$node['Split Into Batches'].json.index].total,\n  cartUrl: 'https://gangrunprinting.com/checkout?session=' + $node['Fetch 3hr Abandoned Carts'].json.carts[$node['Split Into Batches'].json.index].sessionId,\n  couponCode: $node['Generate 10% Coupon'].json.coupon.code,\n  couponValue: 10,\n  hoursSinceAbandonment: 3\n}) }}"}]},"options":{}},"name":"Send Email","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1130,300],"id":"178830c8-fb6e-4392-becc-8433ef8543b0"}],"connections":{"Every Hour":{"main":[[{"node":"Fetch 3hr Abandoned Carts","type":"main","index":0}]]},"Fetch 3hr Abandoned Carts":{"main":[[{"node":"Split Into Batches","type":"main","index":0}]]},"Split Into Batches":{"main":[[{"node":"Generate 10% Coupon","type":"main","index":0}]]},"Generate 10% Coupon":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Split Into Batches","type":"main","index":0}]]}},"settings":{"timezone":"America/Chicago"},"staticData":null,"meta":null,"pinData":null,"versionId":null,"triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-10-20T23:00:00.526Z","updatedAt":"2025-10-20T23:00:00.526Z","role":"workflow:owner","workflowId":"Ol5KypbWIdPYibha","projectId":"tFB2q6JWkfPj6FdL","project":{"createdAt":"2025-09-11T20:13:27.250Z","updatedAt":"2025-09-11T20:14:08.507Z","id":"tFB2q6JWkfPj6FdL","name":"Ira Watkins <iradwatkins@gmail.com>","type":"personal","icon":null,"description":null}}]}