n8n-workflows/workflows/VcH7XwlmUZ1btfVr.json
{"createdAt":"2025-10-20T23:00:00.537Z","updatedAt":"2025-10-20T23:00:00.537Z","id":"VcH7XwlmUZ1btfVr","name":"GangRun - Abandoned Cart (72hr)","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 * * * *"}]}},"name":"Every Hour","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[250,300],"id":"3aef172d-f25a-409b-9cf8-44f14409b4f8"},{"parameters":{"url":"https://gangrunprinting.com/api/marketing/carts/abandoned","sendQuery":true,"queryParameters":{"parameters":[{"name":"minHours","value":"72"},{"name":"maxHours","value":"73"}]},"options":{}},"name":"Fetch 72hr Abandoned Carts","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[470,300],"id":"56dda719-f243-4a0d-84c1-5b6b9bb3e5e4"},{"parameters":{"batchSize":1,"options":{}},"name":"Split Into Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[690,300],"id":"edd7ed38-9f1b-47ff-8d46-ef46fb1a3116"},{"parameters":{"url":"https://gangrunprinting.com/api/marketing/coupons/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"type","value":"PERCENTAGE"},{"name":"value","value":"15"},{"name":"userId","value":"={{ $json.userId }}"},{"name":"campaign","value":"abandoned_cart_final"},{"name":"expiresInDays","value":"7"}]},"options":{}},"name":"Generate 15% Coupon","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[910,300],"id":"5d8b2a31-fa0a-404f-afa2-5ba66040ab0d"},{"parameters":{"url":"https://gangrunprinting.com/api/marketing/emails/render","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"template","value":"abandoned_cart"},{"name":"to","value":"={{ $node['Fetch 72hr Abandoned Carts'].json.carts[$node['Split Into Batches'].json.index].email }}"},{"name":"subject","value":"Last Chance: 15% OFF Your Order! ⏰"},{"name":"data","value":"={{ JSON.stringify({\n  customerName: $node['Fetch 72hr Abandoned Carts'].json.carts[$node['Split Into Batches'].json.index].User?.name || 'Valued Customer',\n  items: $node['Fetch 72hr Abandoned Carts'].json.carts[$node['Split Into Batches'].json.index].items,\n  subtotal: $node['Fetch 72hr Abandoned Carts'].json.carts[$node['Split Into Batches'].json.index].subtotal,\n  total: $node['Fetch 72hr Abandoned Carts'].json.carts[$node['Split Into Batches'].json.index].total,\n  cartUrl: 'https://gangrunprinting.com/checkout?session=' + $node['Fetch 72hr Abandoned Carts'].json.carts[$node['Split Into Batches'].json.index].sessionId,\n  couponCode: $node['Generate 15% Coupon'].json.coupon.code,\n  couponValue: 15,\n  hoursSinceAbandonment: 72\n}) }}"}]},"options":{}},"name":"Send Email","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1130,300],"id":"1bbc2bcf-f0c0-4bf4-805a-13f52b8c0bf5"}],"connections":{"Every Hour":{"main":[[{"node":"Fetch 72hr Abandoned Carts","type":"main","index":0}]]},"Fetch 72hr Abandoned Carts":{"main":[[{"node":"Split Into Batches","type":"main","index":0}]]},"Split Into Batches":{"main":[[{"node":"Generate 15% Coupon","type":"main","index":0}]]},"Generate 15% Coupon":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Split Into Batches","type":"main","index":0}]]}},"settings":{"timezone":"America/Chicago"},"staticData":null,"meta":null,"pinData":null,"versionId":null,"triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-10-20T23:00:00.538Z","updatedAt":"2025-10-20T23:00:00.538Z","role":"workflow:owner","workflowId":"VcH7XwlmUZ1btfVr","projectId":"tFB2q6JWkfPj6FdL","project":{"createdAt":"2025-09-11T20:13:27.250Z","updatedAt":"2025-09-11T20:14:08.507Z","id":"tFB2q6JWkfPj6FdL","name":"Ira Watkins <iradwatkins@gmail.com>","type":"personal","icon":null,"description":null}}]}