n8n-workflows/workflows/Z0jmFM8cjCfsXttF.json
{"createdAt":"2025-10-20T22:44:36.162Z","updatedAt":"2025-10-20T22:47:08.000Z","id":"Z0jmFM8cjCfsXttF","name":"GangRun - Review Collection","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 14 * * *"}]}},"name":"Daily at 2 PM","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[250,300],"id":"908a3768-7a95-462a-b4c6-68aeb46a9dec"},{"parameters":{"url":"https://gangrunprinting.com/api/orders/delivered","sendQuery":true,"queryParameters":{"parameters":[{"name":"daysAgo","value":"3"}]},"options":{}},"name":"Fetch Delivered Orders (3 days ago)","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[470,300],"id":"6b308ae9-442b-43df-9581-49f9825407a6"},{"parameters":{"batchSize":1,"options":{}},"name":"Split Into Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[690,300],"id":"ba97f744-e4fe-4c2d-bbc4-19c90cbbb85d"},{"parameters":{"url":"https://gangrunprinting.com/api/marketing/emails/render","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"template","value":"review_request"},{"name":"to","value":"={{ $node['Fetch Delivered Orders (3 days ago)'].json.orders[$node['Split Into Batches'].json.index].userEmail }}"},{"name":"subject","value":"How Did We Do? Leave a Review ⭐"},{"name":"data","value":"={{ JSON.stringify({\n  customerName: $node['Fetch Delivered Orders (3 days ago)'].json.orders[$node['Split Into Batches'].json.index].userName,\n  orderNumber: $node['Fetch Delivered Orders (3 days ago)'].json.orders[$node['Split Into Batches'].json.index].orderNumber,\n  orderDate: $node['Fetch Delivered Orders (3 days ago)'].json.orders[$node['Split Into Batches'].json.index].createdAt,\n  reviewUrl: 'https://gangrunprinting.com/reviews/new?order=' + $node['Fetch Delivered Orders (3 days ago)'].json.orders[$node['Split Into Batches'].json.index].id\n}) }}"}]},"options":{}},"name":"Send Review Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[910,300],"id":"9e1a23c9-9697-4408-be5d-f94fad865700"}],"connections":{"Daily at 2 PM":{"main":[[{"node":"Fetch Delivered Orders (3 days ago)","type":"main","index":0}]]},"Fetch Delivered Orders (3 days ago)":{"main":[[{"node":"Split Into Batches","type":"main","index":0}]]},"Split Into Batches":{"main":[[{"node":"Send Review Request","type":"main","index":0}]]},"Send Review Request":{"main":[[{"node":"Split Into Batches","type":"main","index":0}]]}},"settings":{"timezone":"America/Chicago"},"staticData":{"node:Daily at 2 PM":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":null,"triggerCount":1,"tags":[],"shared":[{"createdAt":"2025-10-20T22:44:36.167Z","updatedAt":"2025-10-20T22:44:36.167Z","role":"workflow:owner","workflowId":"Z0jmFM8cjCfsXttF","projectId":"tFB2q6JWkfPj6FdL","project":{"createdAt":"2025-09-11T20:13:27.250Z","updatedAt":"2025-09-11T20:14:08.507Z","id":"tFB2q6JWkfPj6FdL","name":"Ira Watkins <iradwatkins@gmail.com>","type":"personal","icon":null,"description":null}}]}